#container {
        	margin: 10px;
        }
#map {
    height: 750px;
    width: 100%;
    margin-top: 20px;
}
.leaflet-control-layers-group-name {
    font-weight: bold;
    margin-bottom: .2em;
    display: block;
}
.leaflet-control-layers-group {
    margin-bottom: .5em;
}
.leaflet-control-layers-group label {
    padding-left: .5em;
}
#legend-container {
	border: 1px solid lightgray;
	padding: 10px;
}
.legend-spacing {
	margin-bottom: 15px;
}
.legend-title {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    line-height: 15px;
}
ul.legend { 
    list-style: none;
    margin-left: 0px;
}
.legend li {
    float: left;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 16%;
}
.legend span {
    border: 1px solid #ccc;
    float: left;
    width: 100%;
    height: 25px;
    text-align: center;
    padding-top: 2px;
    color: lightgray;
}
.legend .step-10 {
    background-color: #54278f;
}
.legend .step-9 {
    background-color: #756bb1;
}
.legend .step-8 {
    background-color: #9e9ac8;
}
.legend .step-7 {
    background-color: #cbc9e2;
}
.legend .step-6 {
    background-color: #f2f0f7;
}
.legend .step-5 {
    background-color: #a63603;
}
.legend .step-4 {
    background-color: #e6550d;
}
.legend .step-3 {
    background-color: #fd8d3c;
}
.legend .step-2 {
    background-color: #fdbe85;
}
.legend .step-1 {
    background-color: #feedde;
}
hr.popup {
    margin: 5px 0px 5px 0px;
}
hr.not-popup {
    margin-bottom: 18px;
}
h1.intro {
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 48px;
    margin-bottom: 10px;
}
.icon-store {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: rgba(227,26,28,1.0);
    border: 1px solid #ccc;
}
#icon-store-legend { 
    width: 12px; 
    height: 12px; 
    background-color: rgba(227,26,28,1.0); 
    border: 1px solid rgba(0,0,0,0.7);
    -moz-border-radius: 6px; 
    -webkit-border-radius: 6px; 
    border-radius: 6px;
    display: inline-block;
}
.icon-cultivation {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: rgba(31,120,180,1.0);
    border: 1px solid #ccc;
}
#icon-cultivation-legend { 
    width: 12px; 
    height: 12px; 
    background-color: rgba(31,120,180,1.0);
    border: 1px solid rgba(0,0,0,0.7);
    -moz-border-radius: 6px; 
    -webkit-border-radius: 6px; 
    border-radius: 6px;
    display: inline-block;
}
.icon-manufacturing {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: rgba(0,0,0,1.0);
    border: 1px solid #ccc;
}
#icon-manufacturing-legend { 
    width: 12px; 
    height: 12px; 
    background-color: rgba(0,0,0,1.0);
    border: 1px solid rgba(0,0,0,0.7);
    -moz-border-radius: 6px; 
    -webkit-border-radius: 6px; 
    border-radius: 6px;
    display: inline-block;
}
.icon-test-facility {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: rgba(255,255,153,1.0);
    border: 1px solid #ccc;
}
#icon-test-facility-legend { 
    width: 12px; 
    height: 12px; 
    background-color: rgba(255,255,153,1.0);
    border: 1px solid rgba(0,0,0,0.7);
    -moz-border-radius: 6px; 
    -webkit-border-radius: 6px; 
    border-radius: 6px;
    display: inline-block;
}
.social-icons {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    float: right;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-top: 10px;
}
img.nav-logo {
    height: 35px;
    padding: 10px 25px 0px 10px;
}
.hide {
    display: none;
}
@media (max-width: 500px) {
	#map {
		height: 500px;
	} 
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v10/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(https://fonts.gstatic.com/s/oswald/v10/bH7276GfdCjMjApa_dkG6VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
